@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "beyonders";
  src: url("../font/BeyondersItalic-jEpgj.ttf");
}

.crew-image {
  background-image: url("../asset/icon.png");
}
